nav {
    background-color: black;
    color: white;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLogo {
    background-color: black;
    margin: 10px;
}
.navLogo img {
    cursor: pointer;
    width: 60px;
}
.nav_list {
    min-width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 5%;
}
.nav a {
    color: white;
}